<div class="overlay overlay-popup"></div>
<div class="popup" style="display: none;">
	<h1 class="popup--title">Edit step</h1>
	<div class="popup--inset">
		<label class="label">Name</label>
		<input data-property="name" type="text" class="input timerStartValueInput" value="<%= name %>">

		<label class="label">Description</label>
		<textarea data-property="description" class="textarea"><%= description %></textarea>

		<label class="label">Target temp (ºC)</label>
		<input data-property="targetTemp" class="input" type="number" value="<%= targetTemp %>">

		<label class="label">Time (minutes)</label>
		<input data-property="time" class="input" type="number" value="<%= time %>">

		<label class="checkbox timer--checkbox">
			<input data-property="notification" type="checkbox" checked="checked" <% if (notification) { %>checked="checked"<% }%>><i class="icon icon-volume-up checkbox--icon"></i>Play sound
		</label>
		<label class="checkbox timer--checkbox">
			<input data-property="sms" type="checkbox" <% if (sms) { %>checked="checked"<% }%>><i class="icon icon-comment checkbox--icon"></i>Send text
		</label>

	</div>
	<div class="popup--buttons">
		<button class="popup--button popup--button-ok js-popupOk">Ok</button>
		<button class="popup--button popup--button-cancel js-popupCancel">Cancel</button>
	</div>
</div>
