<div class="panel">
	<h3 class="panelTitle"><i class="icon icon-bar-chart panelTitle--icon"></i><% if (historyTimestamp) { %>
		Last temperature reading at <%= historyTimestamp %>
		<% } else { %>
		There's no temperature history yet
		<% } %></h3>
	<canvas id="canvas" style="height: 300px; width: 100%; margin-top: 20px;"></canvas>
</div>
