<div class="js-startBrewHolder">
	<div class="panel" class="js-startBrewRecipeSelect">
		<p>What are you brewing?</p>
		<select data-property="recipe" class="select js-recipeDropdown">
			<option value="">--</option>
		</select>
	</div>
	<div id="startBrewRecipeDetails" class="panel panel-padless panel-borderless js-startBrewRecipeDetails" style="display: none"></div>
</div>
