<div class="panel panel-centered">
  <p class="panelTitle panelTitle-large">It doesn't look like you're brewing anything. Would you like to start?</p>
</div>

<div class="panel panel-centered panel-borderless">
  <button class="button-large js-start-brew">Let's brew</button>
<div>
