<div class="panel">
	<h3 class="panelTitle">You're new round here, right?</h3>
	<p>It doesn't look like you've used this app before. Let's get you setup.</p>
	<p>You'll need some recipes, right? Do you want to create a new one from scratch or do you want to import some defaults?</p>
	<button class="button-fullWidth js-createRecipe">Create a new recipe</button>
	<button class="button-fullWidth js-loadDefaults">Load in some defaults</button>
</div>
