<div class="panel">
	<h3 class="panelTitle left"><i class="icon icon-time panelTitle--icon"></i>Next timer</h3>
	<h3 class="panelTitle right"><%= nextTimerLabel %> (<%= nextTimerStartValue %>:00)</h3>
	<p class="nextTime"><%= timeToNextTimer %></p>
	<button type="submit" class="js-toggle-timer"><i class="icon icon-<% if (active) { %>pause<% } else { %>play<% } %>"></i></button>
	<button type="submit" class="js-reset-timer"><i class="icon icon-repeat"></i></button>
</div>
