<div class="overlay overlay-popup"></div>
<div class="popup" style="display: none;">
	<h1 class="popup--title"><%= title %></h1>
	<div class="popup--inset">
		<p class="popup--message"><%= message %></p>
	</div>
	<div class="popup--buttons">
		<button class="popup--button popup--button-ok js-popupOk">Ok</button>
		<button class="popup--button popup--button-cancel js-popupCancel">Cancel</button>
	</div>
</div>
