<% for(var i=0;i<recipes.length;i++) {
      var recipe = recipes[i]; %>
  <div class="recipeStep" data-id="<%= recipe.get('id') %>">
    <div class="clearfix">
      <i class="js-deleteRecipe icon icon-trash recipeStep--rightIcon right"></i>
      <p class="recipeStep--title js-editRecipe"><%= recipe.get('name') %> <i class="icon icon-pencil"></i></p>
      <p class="recipeStep--description"><%= recipe.get('description') %></p>
    </div>
  </div>
<% } %>
<button class="panel button-spaced button-fullWidth js-createRecipe">Create a new recipe</button>
