<div class="titleBar titleBar-<%= title %>">
	<i class="icon icon-reorder menuIcon js-toggle-menu"></i>
	<h1 class="pageTitle"><i class="icon icon-<%= title %> pageTitle-icon"></i><%= title %></h1>
</div>
