TOOLS

<div classs="tools">
	<div class="tool js-goto-page" data-href="hydrometer">
		<i class="tool--icon icon icon-beer color-pink"></i>
		<p class="tool--name">Hydrometer adjust</p>
	</div>
	<div class="tool js-goto-page" data-href="ph">
		<i class="tool--icon icon icon-magic color-blue"></i>
		<p class="tool--name">PH adjust</p>
	</div>
	<div class="tool js-goto-page" data-href="units">
		<i class="tool--icon icon icon-tasks color-orange"></i>
		<p class="tool--name">Unit converter</p>
	</div>
</div>
