.container {
	height: calc(100% - 55px);
	padding: $container-padding;
	overflow-y: scroll;
	position: relative;
}

.overlay {
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
}
