.currentTemp {
	text-align: center;
	font-family: $roboto;
	font-size: $current-temp-font-size;
	font-weight: 200;
	margin: 0px;
	padding-bottom: $current-temp-bottom-padding;
	padding-top: $current-temp-top-padding;
}

.currentTemp-hot {
	color: $current-temp-hot-color;
}

.currentTemp-cold {
	color: $current-temp-cold-color;
}

.currentTemp-ok {
	color: $current-temp-ok-color;
}
