.currentTime {
	text-align: center;
	font-family: $roboto;
	font-size: $current-time-font-size;
	font-weight: 200;
	margin: 0px;
	padding-bottom: $current-time-bottom-padding;
	padding-top: $current-time-top-padding;
}
