.form {
  margin: $form-top-margin 0 $form-bottom-margin 0;
}

.form-bottomless {
  margin-bottom: 0;
}

.label {
  display: block;
  color: $secondary-color;
  margin-right: $label-right-margin;
  text-transform: uppercase
}

%input {
  background-color: $input-background-color;
  border: 1px solid $input-border-color;
  color: $input-color;
  font-family: $roboto;
  font-size: $input-font-size;
  height: $input-height;
  margin: $input-margin;
  outline: none;
  padding: $input-padding;
  width: $input-width;
}

.input {
  @extend %input;

  &:last-child {
    margin-bottom: 0px;
  }
}

.input--cross {
	float: left;
	width: calc(100% - 40px);
}

.input__cross {
	float: right;
	font-size: 30px;
	height: $input-height;
	padding: 10px 0 0 5px;
	width: $input-height;
}

.selectContainer {
  position: relative;

  &:before {
    content: "\f107";
    font-family: 'FontAwesome';
    position: absolute;
    right: $select-container-right-position;
    top: $select-container-top-position;
  }
}

.select {
  @extend %input;

  -webkit-appearance: none;
  border-radius: 0;
}

.textarea {
  @extend %input;

  min-height: $textarea-height;
}

.textarea-bottomless {
  margin-bottom: 0;
}

.form__section {
	border: 1px solid #F00;
	margin: 20px 0 10px;
	padding: 5px;
	position: relative;
}

.form__section__checkbox {
	background: $background-color;
	padding: 0px 5px;
	position: absolute;
	top: -11px;
}
