.panel {
  border-color: $panel-border-color;
  border-style: solid;
  border-width: $panel-border-width;
  border-bottom: $panel-border-bottom-width solid $panel-border-bottom-color;
  margin-bottom: $panel-bottom-margin;
  padding: $panel-padding;
  width: 100%;
}

.panelTitle {
  color: $secondary-color;
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
}

.panelTitle--icon {
  margin-right: $panel-title-icon-right-margin;
}
