%secondaryRecipeStepBorder {
  background-color: $recipe-step-border-color-darker;
  content: '';
  left: 0;
  height: 1px;
  position: absolute;
  right: 0;
}

.recipeStep {
  border-bottom: 1px solid $recipe-step-border-color;
  padding: $panel-padding;
  position: relative;

  &:first-of-type {
    border-top: none;
    &:before {
      display: none;
    }
  }

  &:last-of-type {
    &:after {
      @extend %secondaryRecipeStepBorder;
      bottom: 0px;
    }
  }

  &:before {
    @extend %secondaryRecipeStepBorder;
    top: -2px;
  }
}

.recipeStep--rightIcon {
  margin: 2px 10px 0;
}

.recipeStep--title {
  color: $secondary-color;
  margin: 0;
  text-transform: uppercase;
}

.recipeStep--description {
  margin-bottom: 0;
}

.recipeStep--metaHolder {
  float: right;
  margin-left: $recipe-step-margin * 2;
  width: 100px;
}

.recipeStep--meta {
  color: $secondary-color;
  margin: $recipe-step-margin;
  text-transform: uppercase;

  &:first-of-type {
    margin-top: 0;
  }
}

.recipeStep--meta--text {
  vertical-align: middle;
}

.recipeStep--meta--icon {
  font-size: $recipe-step-meta-icon-size;
  margin-right: $recipe-step-margin / 2;
  vertical-align: middle;
}

.recipeStep--meta--icon-glow {
    color: #0099CC;
}

.recipeStep--meta--icon-disabled {
  color: #3D3D3D;
}

.iconHolder {
  color: $home-navigation-background-color;
  margin-right: $recipe-step-margin / 2;
  position: relative;
}

.iconHolder--iconText {
  color: $base-color;
  font-size: 8px;
  left: 3px;
  position: absolute;
  top: 3px;
}

.recipeStep--sortable {
  border: 1px dashed $secondary-color;
  height: 100px;
}

.group {
  padding: $container-padding;
}

.group--title {
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
}

.group--title--icon {
	margin-top: 3px;
}
